 .container{
    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: fixed;
    top: 50%;
    transform: translateY(-50%);

}

.buttoncentre{
    
    margin-left: 5px;
    margin-right: 5px;
    
    padding: 10px 20px;
    background-color: orange;
}
